body {

}

.carousel-item {


}

.contenido {
    background-color: white;
    color: #818963;
    text-align: center;
}

#contenido {

    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 2px;
    display: none;
}

#experiencia {
    display: none;
}

.btn-ligth {
    color: #818963 ;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}

.btn-ligth2 {
    color: #f8f9fa !important;
    background-color: #980789 !important;
    border-color: #f8f9fa;
}

.purple {
    color:#980789!important;
}

.fondoFormulario {
    background-color: white;
    color: #818963;
    text-align: center;
    width: 90%;
    margin-top:10%;
    margin-bottom:10%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 2px;
    height:80%;

}

.fondo {

    height: 800px;
    background-size: cover;
    background-position: center center;

}

